 <!--Section: Jumbotron-->
 <section class="card wow fadeIn">

    <!-- Content -->
    <div class="card-body text-center py-5 px-5 my-5">

      <h1 class="mb-4">
        <strong>Whoops !! :-(</strong>
      </h1>
      <p>
        <strong>Bad Request 404</strong>
      </p>
      <p class="mb-4">
        <strong>No Such Post Directory</strong>
      </p>
      <a href="/" class="btn blue-gradient btn-outline-white btn-lg">Go Home
        <i class="fas fa-graduation-cap ml-2"></i>
      </a>

    </div>
    <!-- Content -->
  </section>